<h1>Edit <%= @listing.title %></h1>

<form action="<%= host_listing_path(@listing) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PUT">

  <div>
    <label for="name">Title</label>
    <input id="name" type="text" name="listing[title]" value="<%= @listing.title %>">
  </div>

  <div>
    <label for="about">About</label>
    <textarea id="about" name="listing[about]"><%= @listing.about %></textarea>
  </div>

  <div>
    <label for="max_guests">How many people max. can stay?</label>
    <input id="max_guests" type="number" name="listing[max_guests]" value="<%= @listing.max_guests %>" min="1" max="100" step="1">
  </div>


  <input type="submit" value="Update Listing">
</form>

<hr />
<%= render partial: "shared/errors" %>
